	{% if page.layout == 'amp' %}
		<p>窗外有麻雀在唧叫</p>
	{% else %}
		<script type='text/javascript'>
			fortune = new Array(9);
			fortune[0] = '在山坡上种满麦芽糖';
			fortune[1] = '你停止了收讯号';
			fortune[2] = '比大笨钟还要笨';
			fortune[3] = '不能拒绝烧肉粽';
			fortune[4] = '12月的晴朗小巷';
			fortune[5] = '回不去的名字叫家乡';
			fortune[6] = '故事里有朵小黄花';
			fortune[7] = '爱深埋于珊瑚海';
			fortune[8] = '不知不觉后知后觉';
			fortune[9] = '想回到过去';
			fortune[10] = '爷爷煮了奶茶';
			fortune[11] = '天灰灰 会不会';
			fortune[12] = '回忆如糖果般甜蜜';
			fortune[13] = '秋刀鱼是什么滋味';
			fortune[14] = '面包配热汤';
			fortune[15] = '雨淋湿了天空';
			index = Math.floor(Math.random() * fortune.length);
			document.write(fortune[index]);
		</script>
		<noscript>相见时难别亦难</noscript>
	{% endif %}
